---
import avatar from "@assets/avatar.jpeg"
import SocialsCard from "./SocialsCard.astro"
---

<div class="sidebar">
    <a href="/">
        <img src={avatar.src} class="avatar" alt="Home"/>
    </a>

    <SocialsCard />
    <slot name="sidebar" />
</div>

<style lang="scss">
    .sidebar {
        width: 18em;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 4em;
        gap: 2em;
    }

    a {
        align-self: center;

        .avatar {
            border-radius: 50%;
            width: 15em;
            justify-self: center;
        }
    }

    

    @media screen and (max-width: 970px) {
		.sidebar {
			width: 100%;
            position: unset;
		}

        a {
            padding: 0;

            .avatar {
                width: 5em;
                margin-top: 0.5em;
            }
        }
	}
</style>