---
import InfoChip from "@components/InfoChip.astro";
import Person from "@icons/person.svg";
import Location from "@icons/location.svg";
import Clock from "@icons/clock.svg";
---

<div class="info">
    <InfoChip>
        <Person slot="icon"/> He/Him
    </InfoChip>

    <InfoChip>
        <Clock slot="icon"/> EST <div class="time"><span>-</span> <span id="time"/></div>
    </InfoChip>

    <InfoChip>
        <Location slot="icon"/> USA
    </InfoChip>
</div>

<script>
    // Auto updating time doesn't exist without JS, so its set to display: none by default,
    // if JS is enabled we can just instantly make it visible
    (document.querySelector(".time") as HTMLDivElement)!.style.setProperty("display", "block");

    function updateTime() {
        var currentTime = new Date();
        var timeString = currentTime.toLocaleString('en-US', { timeStyle: "short", timeZone: "America/New_York" });

        document.getElementById("time")!.textContent = timeString;
    }

    setInterval(updateTime, 1000);
    updateTime();
</script>

<style>
    .info {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8em;
		margin-top: 1em;
	}

    .time {
        display: none; /* Hide the time by default for users with JS disabled */
    }
</style>