html {
    overflow-y: overlay;
}

html,
body {
    margin: 0;
    padding: 2em;

    font-family: "Inter";
    background-color: var(--background);
    color: var(--onSurface);
}

::-webkit-scrollbar {
    width: 0.5em;
}
   
::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--onSurface) 40%, transparent);
    border-radius: 5em;
}

@media screen and (max-width: 970px) {
    html,
    body {
        padding: 0.5em;
    }
}

a {
    color: var(--primary);
    text-decoration: none;
}