.light, body {
    --primary: #316941;
    --inversePrimary: #98d4a3;
    --secondaryContainer: #d3e8d3;
    --onSecondaryContainer: #394b3b;
    --background: #f6fbf3;
    --onSurface: #181d18;
    --onSurfaceAlt: #414941;
    --containerLow: #f1f5ed;

    --star: #ff9800;
}

@mixin dark {
    --primary: #98d4a3;
    --inversePrimary: #316941;
    --secondaryContainer: #394b3b;
    --onSecondaryContainer: #d3e8d3;
    --background: #101510;
    --onSurface: #dfe4dc;
    --onSurfaceAlt: #c1c9bf;
    --containerLow: #181d18;

    --star: #e2e210;
}

.dark { @include dark() }

@media (prefers-color-scheme: dark) {
    body {
        @include dark()
    }
}

.mocha {
    --primary: #cba6f7;
    --inversePrimary: #89b4fa;
    --secondaryContainer: #45475a;
    --onSecondaryContainer: #cdd6f4;
    --background: #11111b;
    --onSurface: #cdd6f4;
    --onSurfaceAlt: #bac2de;
    --containerLow: #1e1e2e;

    --star: #f9e2af;
}

.latte {
    --primary: #04a5e5;
    --inversePrimary: #1e66f5;
    --secondaryContainer: #ccd0da;
    --onSecondaryContainer: #4c4f69;
    --background: #dce0e8;
    --onSurface: #4c4f69;
    --onSurfaceAlt: #4c4f69;
    --containerLow: #e6e9ef;

    --star: #df8e1d;
}