---
import socials from "@data/socials.json";
import type { GetStaticPaths } from "astro";
import type { SocialAccount } from "src/types";

// Generates all possible social names (e.g. /on/github, /on/gh)
export const getStaticPaths = (() => {
    const keys = (socials as SocialAccount[]).flatMap((social) => { return [social.service.toLowerCase(), ...social.aliases] })
    return keys.map( (key) => { return { params: { social: key } } });
}) satisfies GetStaticPaths;

// Retrieves the social metadata from a key
const { social } = Astro.params
const account: SocialAccount = socials
    .find((account) => {
        return account.aliases.includes(social) || social === account.service.toLowerCase()
    })!
---

<!DOCTYPE html>
<html data-redir-url={account.baseUrl + account.username}>
    <head>
        <title>Redirecting...</title>
        <meta name="theme-color" content="#02E376"/>
		<link rel="icon" href="/favicon.png" />

		<meta name="og:type" content="profile" />
		<meta name="og:profile:username" content={account.username} />
		<meta name="og:profile:gender" content="male" />

		<meta name="og:title" content={`Wing - ${account.service}`} />
		<meta name="og:description" content={`Follow me on ${account.service}!`} />
		<meta name="og:url" content={account.baseUrl + account.username} />
		<meta name="og:image" content="/favicon.png" />
    </head>
    <body>
        Redirecting...
    </body>
</html>

<script>
    // @ts-ignore
    window.location = document.querySelector("html")?.dataset["redirUrl"] || "about:blank"
</script>